<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brand Name</title>
    {{content_for_header}}
    {{'style.css' | asset_url | stylesheet_tag}}
</head>

<body>
    {% section 'navbar' %}
    {{content_for_layout}}
    {{'script.js' | asset_url | script_tag}}
</body>

</html>